*{
  margin: 0;
}
#inicio12{
  width: 100%;
  height:200px;
  background-color:rgba(188,199,196,.7);
  color: white;
  padding: 40px;
}

.img-logo{
  width: 250px;
  height: auto;
  margin: 0 auto;

}
.color-white p{
  color: white;
}
.mapplic-coordinates{
  display: none;
}
/***************seccion de video*******************/
  #video1{
    margin-top: -20px;
  }
  .video-frame{
    margin-top: 50px ;
    width: 100%;
    height: 650px;
    overflow: hidden;
    position: relative;
  }
  video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }
  .contenedor-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 39.7%;
  }
  .video-frame iframe, .video-frame object, .video-frame embed, .video-frame #player {
      position: absolute;

      left: 0;
      width: 100%;
      height: 100%;
  }
/***************seccion de video*******************/
/*************pantallas modales**********************/
.close1{
  font-size: 2em;
  color: white;
  background-color: red;
}
.modal-titulo{
  font-size: 3em;
  color: white;
  text-align: center;
}
.dialog{
  margin: 0 auto;
  width: 70%;
  background-color: rgba(188,199,196,.7);
  padding: 5px;

}
.dialog-contact{
  margin: 0 auto;
  padding: 100px;
  background-color: rgba(188,199,196,.8);
  padding: 30px;
  font-size:1.5em;
}
#contacto input,textarea{
  font-family: serif;
  font-size: 14px;
}
#ubicacion{
  margin-top: 50px;
}
.ubicacion{
  padding:5px;
  width: 100%;
  height: 500px;
  background-color: rgba(42, 42, 42,.3);

}
/*************pantallas modales**********************/
.form-trans{
  background-color: transparent;
  color: #fff;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0px;
  letter-spacing: 2px
}
.form-trans-btn{
  width: 100%;
  height: 50px;
  background-color: #bcc7c4;
  color: #fff;
  border: .5px solid rgb(255, 255, 255);
  border-radius: 0px;
  letter-spacing: 2px;
  font-size: 18px;
}

